body {
  background: #202020;
}
header{
  color: white;
}
h1{
  font-family: Museo Sans, sans-serif;
  font-weight: 900;
  height: calc(100vh - 60px);
  padding: 0 20px 100px;
  position: fixed;
  top: 20px;
  width: 100%;
}
nav {
  margin:100px 10px 0 10px;
}
img {
  height: 35px;
  width:40px;
}
ul {
  list-style: none;
  align-items: center;
  column-gap: 10px;
  display: flex;
  justify-content: space-between;
  margin-right: 120px;
  max-width: 100%;
  white-space: nowrap;
  /*
  position: fixed;
  list-style: none;
  display: flex;
  flex-flow: nowrap;
  justify-content:flex-end;
  float: right;*/
}
li {
  font-size: 15px;
  font-weight: 400;
  line-height: 2.07;
  position: relative;
  padding-right: 20px;
  margin:20px 0;
}
a {
  text-decoration: none;
  color: white;;
}
a:hover {
  color: red;
}

